.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    margin: 10px 15px;
    background-color: aqua;
}

.b1 {
    background-color: red
}
.b2 {
    background-color: blue;
}
.b3 {
    background-color: green;
}